<footer class="footer">
  <p>&lt;3</p>
  <p>Made with all the love in the world by <a href="https://twitter.com/AlecCam43544378">@AlecCam43544378</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/AlecCam43544378">@AlecCam43544378</a>.</p>

  
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/AlecCam43544378" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @AlecCam43544378</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="mdo">Tweet</a>
    </li>
  </ul>
</footer>
